<!-- @author Sai_Nikhil_Pippara -->
<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of account</h2>
      <br>
      <br> ID: <%=  account._id %>
      <br> AccountNumber: <%=account.AccountNumber%>
      <br>AccountType: <%=account.AccountType%>
      <br> debitCard: <%=account.debitCard%>
      <br> creditCard: <%=account.creditCard%>
      <br> loans: <%=account.loans%>
      
      <hr>
      
      <form method="get" action="/account">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>
      
      <form method="POST" action="/account/delete/<%= account._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>