<!-- @author Sai_Nikhil_Pippara -->
<br/>
<br/>
<h2>Account Details</h2>
<br/>
<br/>   
<br> ID: <%=  account._id %>
      <br> AccountNumber: <%=account.AccountNumber%>
      <br>AccountType: <%=account.AccountType%>
      <br> debitCard: <%=account.debitCard%>
      <br> creditCard: <%=account.creditCard%>
      <br> loans: <%=account.loans%>

<br />
<br />

<form method="get" action="/account">
    <input type="submit" value="Return to list" class="btn btn-caution" />
</form>