<!-- @author Pratyusha_Pusapati -->
<div class="container fluid">
  <br>
  <br>
  <h1 style="text-align:left">Home page</h1>
  <br>
  <h3 style="text-align:left">Group 07 Project</h3>

  <br>
  <div class=row>

    <div class="col col-md-03">
      <h6>Requests to GET JSON for User </h6>
      <ol>
        <li> <a href="user/findall">user/findall</a>
        </li>
        <li> <a href="user/findone/100">user/findone/100</a>
        </li>
        <li> <a href="user/findone/101">user/findone/101</a>
        </li>
        <li> <a href="user/findone/102">user/findone/102</a>
        </li>
        <li> <a href="user/findone/103">user/findone/103</a>
        </li>
      </ol>
      <br>



      <h6>Requests to GET a view for User Page</h6>
      <ol>
        <li>
          <a href="user">user</a>
        </li>
        <li>
          <a href="user/create">user/create</a>
        </li>

        <li>
          <a href="user/edit/100">user/edit/100</a>
        </li>
        <li>
          <a href="user/edit/101">user/edit/101</a>
        </li>
        <li>
          <a href="user/edit/102">user/edit/102</a>
        </li>

        <li>
          <a href="user/delete/103">user/delete/103</a>
        </li>
        <li>
          <a href="user/delete/102">user/delete/102</a>
        </li>
        <li>
          <a href="user/delete/101">user/delete/101</a>
        </li>

        <li>
          <a href="user/details/100">user/details/100</a>
        </li>
        <li>
          <a href="user/details/101">user/details/101</a>
        </li>
        <li>
          <a href="user/details/102">user/details/102</a>
        </li>

      </ol>

    </div>
   
    <div class="col col-md-03">


      <h6>Requests to GET JSON for account Page</h6>
      <ol>
        <li> <a href="account/findall">account/findall</a>
        </li>
        <li> <a href="account/findone/100">account/findone/100</a>
        </li>
        <li> <a href="account/findone/101">account/findone/101</a>
        </li>
        <li> <a href="account/findone/102">account/findone/102</a>
        </li>
        <li> <a href="account/findone/103">account/findone/103</a>
        </li>
      </ol>
      <br>



      <h6>Requests to GET a view for account Page</h6>
      <ol>
        <li>
          <a href="account">account</a>
        </li>
        <li>
          <a href="account/create">account/create</a>
        </li>

        <li>
          <a href="account/edit/201">account/edit/201</a>
        </li>
        <li>
          <a href="account/edit/202">account/edit/202</a>
        </li>
        <li>
          <a href="account/edit/203">account/edit/203</a>
        </li>
        <li>
          <a href="account/edit/204">account/edit/204</a>
        </li>

        <li>
          <a href="account/delete/201">account/delete/201</a>
        </li>
        <li>
          <a href="account/delete/202">account/delete/202</a>
        </li>
        <li>
          <a href="account/delete/203">account/delete/203</a>
        </li>
        <li>
          <a href="account/delete/204">account/delete/204</a>
        </li>

        <li>
          <a href="account/details/201">account/details/201</a>
        </li>
        <li>
          <a href="account/details/202">account/details/202</a>
        </li>
        <li>
          <a href="account/details/203">account/details/203</a>
        </li>
        <li>
          <a href="account/details/204">account/details/204</a>
        </li>

      </ol>

    </div>
    <!-- </div> -->
    <div class="col col-md-03">



      <h6>Requests to GET JSON for transaction Page</h6>
      <ol>
        <li> <a href="transaction/findall">transaction/findall</a>
        </li>
        <li> <a href="transaction/findone/300">transaction/findone/300</a>
        </li>
        <li> <a href="transaction/findone/301">transaction/findone/301</a>
        </li>
        <li> <a href="transaction/findone/302">transaction/findone/302</a>
        </li>
        <li> <a href="transaction/findone/303">transaction/findone/303</a>
        </li>
      </ol>
      <br>



      <h6>Requests to GET a view transaction Page</h6>
      <ol>
        <li>
          <a href="transaction">user</a>
        </li>
        <li>
          <a href="transaction/create">transaction/create</a>
        </li>

        <li>
          <a href="transaction/edit/300">transaction/edit/300</a>
        </li>
        <li>
          <a href="transaction/edit/301">transaction/edit/301</a>
        </li>
        <li>
          <a href="transaction/edit/302">transaction/edit/302</a>
        </li>
        <li>
          <a href="transaction/edit/303">transaction/edit/303</a>
        </li>

        <li>
          <a href="transaction/delete/300">transaction/delete/300</a>
        </li>
        <li>
          <a href="transaction/delete/301">transaction/delete/301</a>
        </li>
        <li>
          <a href="transaction/delete/302">transaction/delete/302</a>
        </li>
        <li>
          <a href="transaction/delete/303">transaction/delete/303</a>
        </li>

        <li>
          <a href="transaction/details/300">transaction/details/300</a>
        </li>
        <li>
          <a href="transaction/details/301">transaction/details/301</a>
        </li>
        <li>
          <a href="transaction/details/302">transaction/details/302</a>
        </li>
        <li>
          <a href="transaction/details/303">transaction/details/303</a>
        </li>

      </ol>

    </div>
    <div class="col col-md-03">




      <h6>Requests to GET JSON for category Page</h6>
      <ol>
        <li> <a href="category/findall">category/findall</a>
        </li>
        <li> <a href="category/findone/10">category/findone/10</a>
        </li>
        <li> <a href="category/findone/11">category/findone/11</a>
        </li>
        <li> <a href="category/findone/12">category/findone/12</a>
        </li>
        <li> <a href="category/findone/13">category/findone/13</a>
        </li>
      </ol>
      <br>



      <h6>Requests to GET a view for category Page</h6>
      <ol>
        <li>
          <a href="category">category</a>
        </li>
        <li>
          <a href="category/create">category/create</a>
        </li>

        <li>
          <a href="category/edit/10">category/edit/10</a>
        </li>
        <li>
          <a href="category/edit/11">category/edit/11</a>
        </li>
        <li>
          <a href="category/edit/12">category/edit/12</a>
        </li>
        <li>
          <a href="category/edit/13">category/edit/13</a>
        </li>

        <li>
          <a href="category/delete/10">category/delete/10</a>
        </li>
        <li>
          <a href="category/delete/11">category/delete/11</a>
        </li>
        <li>
          <a href="category/delete/12">category/delete/12</a>
        </li>
        <li>
          <a href="category/delete/13">category/delete/13</a>
        </li>

        <li>
          <a href="category/details/10">category/details/10</a>
        </li>
        <li>
          <a href="category/details/11">category/details/11</a>
        </li>
        <li>
          <a href="category/details/12">category/details/12</a>
        </li>
        <li>
          <a href="category/details/13">category/details/13</a>
        </li>

      </ol>

    </div>

  </div>

</div>