
<!-- @author Lavanya_Reddy_Uppula -->
<br/>
<br/>
<h2>Category Details</h2>
<br/>
<br/>   
<br> category_id: <%=  category.category_id%>
         
<br> category_name: <%=category.category_name%>
<br> category_amount: <%=category.category_amount%>


<br />
<br />

<form method="get" action="/category">
    <input type="submit" value="Return to list" class="btn btn-caution" />
</form>