<!-- @author Lavanya_Reddy_Uppula -->
<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h2>Edit category </h2>
      <div class="content">
        <form method="POST" action="/category/save/<%= category.category_id %>">
          <div class="form-group" id=frm>
            <label for="category_id">ID</label>
            <input type="number" class="form-control" id="category_id" name="category_id" value="<%= category.category_id %>" required>
          </div>

            <%include partial_edit.ejs %>
              <input type="submit" value="Save" class="btn btn-primary" />
        </form>
        <br/>

        <form method="get" action="/category">
          <input type="submit" value="Return to list" class="btn btn-caution" />
        </form>
      </div>
    </div>
  </div>
</div>