<!-- @author Lavanya_Reddy_Uppula -->
<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="category/create" class="btn btn-primary new">
        Create a new category
      </a>

      <h2>Recent entries</h2>
      <p>There are
        <%= categories.query.length %> categories.
        <br>
      </p>
      <% for (var i = categories.query.length-1; i >= 0; i--) {   
        category = categories.query[i];   %>

      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">

          <br> category_id: <%=category.category_id%>
          <br> category_name: <%=category.category_name%>
          <br> category_amount: <%=category.category_amount%>
         
          <hr>
          <a href="/category/delete/<%= category.category_id  %>" class="btn btn-danger"> Delete </a>
          <a href="/category/details/<%= category.category_id %>" class="btn btn-info"> Details </a>
          <a href="/category/edit/<%= category.category_id %>" class="btn btn-primary"> Edit </a>
          <hr>
          <hr>
        </div>
      </div>
      <% } %>

    </div>
  </div>
</div>