<!-- @author Lavanya_Reddy_Uppula -->
<div class=row>
    <div class="col col-xs-12">
  
      
  
      <div class="form-group">
        <label for="category_name">category_name</label>
        <input type="text" class="form-category_name" id="category_name" name="category_name" value="<%= category.category_name %>">
      </div>
  
      <div class="form-group">
        <label for="category_amount">category_amount</label>
        <input type="number" class="form-control" id="category_amount" name="category_amount" value="<%= category.category_amount %>">
      </div>
  
  
     
  
      <div class="form-group">
        <label for="loans">loans</label>
        <input type="text" class="form-control" id="loans" name="loans" value="<%= category.loans %>">
      </div>
  
    </div>
  </div>