
<!-- @author Pratyusha_Pusapati -->
<h2>Confirm deletion of user</h2>
ID:
<%=  user._id %>
<br> SSN: 
<%=user.SSN%>
<br> firstName:
<%=user.firstName%>
<br> lastName:
<%=user.lastName%>
<br> PhoneNumber:
<%=user.phoneNumber%>
<br> EmailID:
<%=user.email%>
<br> AnnualIncome:
<%= user.annualIncome%>

<br> Address: <%=user.address%>
 
<br> Zip: <%=user.zip %>
<br> Country: <%=user.country %>
<br>
<br>

<form method="get" action="/user">
    <input type="submit" value="Return to list" class="btn btn-caution" />
</form>

<br />
<form method="POST" action="/user/delete/<%= user._id %>">
    <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
</form>