
<!-- @author Pratyusha_Pusapati -->
<br/>
<br/>
<h2>user Details</h2>
<br/>
<br/>   
ID:
<%=  user._id %>
<br> SSN: 
<%= user.SSN %>
<br> firstName:
<%= user.firstName %>
<br> lastName:
<%= user.lastName %>
<br> PhoneNumber:
<%= user.phoneNumber %>
<br> EmailID:
<%= user.email %>
<br> AnnualIncome:
<%= user.annualIncome %>
<br> Address: <%= user.address %> 
<br> Zip: <%= user.zip %>
<br> Country: <%= user.country %>
<br />
<br />

<form method="get" action="/user">
    <input type="submit" value="Return to list" class="btn btn-caution" />
</form>