<!-- @author Pratyusha_Pusapati -->
<div class=row>
    <div class="col col-xs-12">
        <div class="form-group">
            <label for="SSN">SSN</label>
            <input type="number" class="form-control" id="SSN" name="SSN" value="<%= user.SSN %>" required>
          </div>
      <div class="form-group">
        <label for="firstName">firstName</label>
        <input type="text" class="form-control" id="firstName" name="firstName" value="<%= user.firstName %>" required>
      </div>
      <div class="form-group">
        <label for="lastName">lastName</label>
        <input type="text" class="form-control" id="lastName" name="lastName" value="<%= user.lastName %>"required>
      </div>      
      <div class="form-group">
        <label for="phoneNumber">phoneNumber</label>
        <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" value="<%= user.phoneNumber %>"required>
      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>"required>
      </div>
      <div class="form-group">
          <label for="annualIncome">annualIncome</label>
          <input type="number" class="form-control" id="annualIncome" name="annualIncome" value="<%= user.annualIncome %>" required>
        </div>
        
      <div class="form-group">
            <label for="address">address</label>
            <input type="text" class="form-control" id="address" name="address" value="<%= user.address %>"required>
          </div>
          <div class="form-group">
              <label for="zip">zip</label>
              <input type="number" class="form-control" id="zip" name="zip" value="<%= user.zip %>" required>
            </div>
            <div class="form-group">
                <label for="country">country</label>
                <input type="text" class="form-control" id="country" name="country" value="<%= user.country %>" required>
              </div>
    </div>
  </div>