<!-- @author Rudra_Teja_Potturi -->
<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of transaction line item</h2>
      <br>
      <br> ID: <%=  transaction.transactionID %>
      <br> amount: <%=transaction.amount%>
      <br> transactionDate: <%=transaction.transactionDate%>
      <br> postedDate: <%=transaction.postedDate%>
      <br> transactionType: <%=transaction.transactionType%>
      <br> cardNumber: <%=transaction.cardNumber%>
      <br> transactionStatus: <%=transaction.transactionStatus%>
      <hr>
      
      <form method="get" action="/transaction">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

      <form method="POST" action="/transaction/delete/<%= transaction.transactionID %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>