<!-- @author Rudra_Teja_Potturi -->

<br/>
<br/>
<h2>transaction Details</h2>
<br/>
<br/>   

         
<br> ID: <%=  transaction.transactionID %>
      <br> amount: <%=transaction.amount%>
      <br> transactionDate: <%=transaction.transactionDate%>
      <br> postedDate: <%=transaction.postedDate%>
      <br> transactionType: <%=transaction.transactionType%>
      <br> cardNumber: <%=transaction.cardNumber%>
      <br> transactionStatus: <%=transaction.transactionStatus%>
<br />
<br />

<form method="get" action="/transaction">
    <input type="submit" value="Return to list" class="btn btn-caution" />
</form>