<!-- @author Rudra_Teja_Potturi -->
<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h2>Edit transaction details </h2>
      <div class="content">
        <form method="POST" action="/transaction/save/<%= transaction.transactionID %>">
          <div class="form-group" id=frm>
            <label for="transactionID">ID</label>
            <input type="number" class="form-control" id="transactionID" name="transactionID" value="<%= transaction.transactionID %>" required>
          </div>

            <!-- COMMON TO EDIT AND CREATE -->
            <%include partial_edit.ejs %>
              <input type="submit" value="Save" class="btn btn-primary" />
        </form>
        <br/>

        <form method="get" action="/transaction">
          <input type="submit" value="Return to list" class="btn btn-caution" />
        </form>
      </div>
    </div>
  </div>
</div>