<!-- @author Rudra_Teja_Potturi -->
<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="transaction/create" class="btn btn-primary new">
        Create a new transaction
      </a>

      <h2>Recent entries</h2>
      <p>There are
        <%= transactions.query.length %> transaction items.
        <br>
      </p>
      <% for (var i = transactions.query.length-1; i >= 0; i--) {   
        transaction = transactions.query[i];   %>

      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">

          <!-- <br> ID: <%=  transaction._id %> -->
          <br> transactionID: <%=transaction.transactionID%>
          <br> amount: <%=transaction.amount%>
          <br> transactionDate: <%=transaction.transactionDate%>
          <br> postedDate: <%=transaction.postedDate%>
          <br> transactionType: <%=transaction.transactionType%>
          <br> cardNumber: <%=transaction.cardNumber%>
          <br> transactionStatus: <%=transaction.transactionStatus%>

          <hr>
          <a href="/transaction/delete/<%= transaction.transactionID  %>" class="btn btn-danger"> Delete </a>
          <a href="/transaction/details/<%= transaction.transactionID %>" class="btn btn-info"> Details </a>
          <a href="/transaction/edit/<%= transaction.transactionID %>" class="btn btn-primary"> Edit </a>
          <hr>
          <hr>
        </div>
      </div>
      <% } %>

    </div>
  </div>
</div>