<!-- main  -->
<!-- @author Rudra_Teja_Potturi -->
<div class=row>
    <div class="col col-xs-12">
  
     
  
      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="number" class="form-control" id="amount" name="amount" value="<%= transaction.amount %>">
      </div>
  
      <div class="form-group">
        <label for="transactionDate">transactionDate</label>
        <input type="date" class="form-control" id="transactionDate" name="transactionDate" value="<%= transaction.transactionDate %>">
      </div>
  
      <div class="form-group">
        <label for="postedDate">postedDate</label>
        <input type="date" class="form-control" id="postedDate" name="postedDate" value="<%= transaction.postedDate %>">
      </div>
  
     
  
      <div class="form-group">
        <label for="transactionType">transactionType</label>
        <input type="text" class="form-control" id="transactionType" name="transactionType" value="<%= transaction.transactionType %>">
      </div>
      <div class="form-group">
          <label for="cardNumber">cardNumber</label>
          <input type="number" class="form-control" id="cardNumber" name="cardNumber" value="<%= transaction.cardNumber %>">
        </div>

        <div class="form-group">
            <label for="transactionStatus">transactionStatus</label>
            <input type="text" class="form-control" id="transactionStatus" name="transactionStatus" value="<%= transaction.transactionStatus %>">
          </div>

        
  
    </div>
  </div>
  
  <!-- PUT CLIENT SIDE CODE HERE -->
  <!-- <script>
  
    // function toCurrency(amount) 
  
    // https://gist.github.com/kylefox/780065
    function toCurrency(amount) {
      return "$" + amount.toFixed(2);
    };
  
    // function toCurrencyInt(amount) 
    function toCurrencyInt(amount) {
      return "$" + amount.toFixed(0);
    };
  
    // Add  .toCurrency() method to all Numbers
    Number.prototype.toCurrency = function () {
      return toCurrency(this);
    };
  
    // Add  .toCurrencyInt() method to all Numbers
    Number.prototype.toCurrencyInt = function () {
      return toCurrencyInt(this);
    };
  
    function onFormChange() {
      const newAge = parseFloat($("input[name=age]").val());
      let price = 75
      if (newAge == 1) {
        price = 100
      }
      $("#puppyCost").html(price.toCurrencyInt());
    }
  
    // window.onload = a function that will call all update functions to display calculated values
    window.onload = function () {
      onFormChange();
    }
  
    // prevent submission when hitting enter key - optional, but user-friendly 
    document.forms[0].onkeypress = function (e) {
      var key = e.charCode || e.keyCode || 0;
      if (key == 13) {
        e.preventDefault();
      }
    }
  
  // END CLIENT SIDE CODE  (close the script tag)
  </script> -->