<!-- @author Lavanya_Reddy_Uppula -->

<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <br>
      <br>
      <br>
     <article>
        Developer for Category Page:
        <a href="https://reddylavanya.github.io/uppula/">Lavanya_Reddy_Uppula</a>

     </article> 

      <br>
      <br>
    </div>
  </div>
</div>